<div class="edit-patient-container">
  <h2>Edit Patient</h2>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="patient.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input
        matInput
        type="date"
        [(ngModel)]="patient.dateOfBirth"
        name="dob"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="patient.gender" name="gender" required>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contact Info</mat-label>
      <input
        matInput
        [(ngModel)]="patient.contactInfo"
        name="contact"
        required
      />
    </mat-form-field>

    <div class="button-container">
      <button mat-button class="cancel-button" (click)="closeDialog()">
        Cancel
      </button>
      <button
        mat-raised-button
        class="save-button"
        (click)="savePatient()"
        [disabled]="
          !patient.name ||
          !patient.dateOfBirth ||
          !patient.gender ||
          !patient.contactInfo
        "
      >
        Save
      </button>
    </div>
  </form>
</div>
