<h2 mat-dialog-title>Edit Patient</h2>

<div mat-dialog-content>
  <form>
    <mat-form-field style="width: 100%">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="patient.name" name="name" required />
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Date of Birth</mat-label>
      <input
        matInput
        type="date"
        [(ngModel)]="patient.dateOfBirth"
        name="dob"
        required
      />
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="patient.gender" name="gender" required>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Contact Info</mat-label>
      <input
        matInput
        [(ngModel)]="patient.contactInfo"
        name="contact"
        required
      />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="savePatient()"
    [disabled]="
      !patient.name ||
      !patient.dateOfBirth ||
      !patient.gender ||
      !patient.contactInfo
    "
  >
    Save
  </button>
</div>
